/* App.css */

/* Ensure that the body and HTML take up the full height */
body,
html {
  height: 100%;
  margin: 0;
  background-color: #434343;
}

/* Styling for the main container */
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #434343;
}

/* Styling for the table */
table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid #525252;
}

td {
  text-align: center;
  vertical-align: middle;
  color: #e7e6e6;
  padding: 10px;
}

td:nth-child(2) {
  /* Adjust the padding and text-align as needed */
  padding-right: 50px;
}

.resultado-header {
  padding-right: 50px;
}

/* Styling for rows */
tr {
  border-bottom: 1px solid #525252;
  transition: background-color 0.3s ease;
  background-color: #434343;

}

/* Styling for the first three rows */
tr.special td {
  background-color: #3f3f3f;
  color: #ffffff;
  /* Adjust the color as needed */
}

/* Hover effect on rows */
tr:hover {
  background-color: #333;
}

/* Styling for header row */
th {
  background: linear-gradient(to right, red, orange, yellow, rgb(0, 255, 0), blue, rgb(149, 0, 255), rgb(255, 0, 255));
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200%;
  /* Added background size */
  animation: rainbowAnimation 10s linear infinite;
  padding: 10px;
  font-size: 32px;
  /* Adjust the font size as needed */
}



@keyframes rainbowAnimation {
  0% {
    background-position: 200%;
  }

  50% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  /* Adjust the margin as needed */
}

.add-button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4caf50;
  /* Green background color */
  color: #fff;
  /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #ff0000;
  /* Red background color */
  color: #fff;
  /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #45a049;
  /* Change the background color on hover as needed */
}

.loading-container {
  text-align: center;
}

.loading-text {
  opacity: 0;
  font-size: 24px;
  animation: revealText 1.5s forwards;
}

@keyframes revealText {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.loading-gif {
  max-width: 100%;
  margin-top: 20px;

}

@media screen and (max-height: 26px) {
  table {
    max-height: 100vh;
    overflow-y: auto;
  }
}

.add-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #555;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.add-form input {
  padding: 5px;
  margin: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  flex: 1;
  /* Take up remaining space in the row */
}


.confirm-button {
  padding: 10px 15px;
  font-size: 16px;
  margin: 0 10px;
  background-color: #3498db;
  /* Blue background color */
  color: #fff;
  /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #2980b9;
  /* Change the background color on hover as needed */
}