/* App.css */

/* Ensure that the body and HTML take up the full height */

@font-face {
  font-family: 'Komix';
  src: url('./fonts/Komix_Eighties.ttf') format('truetype'),
    /* Specify additional font properties if needed */
}

body,
html {
  font-family: 'Komix';
  height: 100%;
  margin: 0;
  margin: 0;
  background-image: url("./assets/fundo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Styling for the main container */
.App {
  flex-direction: column;
  height: 95%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px;
}

/* Styling for the table */
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px #424242, 0 0 20px #424242, 0 0 30px #424242;
  border-radius: 4px;
  overflow: hidden;
  table-layout: fixed;
}


td {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  padding: 9px;
  width: 50%;
}

td:nth-child(2) {
  /* Adjust the padding and text-align as needed */
  padding-right: 50px;
}

.resultado-header {
  padding-right: 50px;
}

/* Styling for rows */
tr {
  border: 4.2px solid #d5d5d5;
  transition: background-color 0.3s ease;
  background-color: rgba(14, 14, 14, 0.8);
  text-shadow: 0 0 10px #5a5a5a, 0 0 20px #5a5a5a, 0 0 30px #5a5a5a;

}

/* Styling for the first three rows */
tr.special td {
  color: #ffffff;
  /* Neon color */
  text-shadow: 0 0 10px #808080, 0 0 20px #808080, 0 0 30px #808080;

  /* Adjust the color as needed */
}

/* Hover effect on rows */
tr:hover {
  background-color: #333;
}

/* Styling for header row */

th {
  -webkit-background-clip: text;
  color: #dd241f;
  /* Neon color */
  text-shadow: 0 0 10px #951410, 0 0 20px #951410, 0 0 30px #951410, 0 0 40px #951410, 0 0 70px #951410, 0 0 80px #951410, 0 0 100px #951410, 0 0 150px #951410;
  font-size: 40px;
  background-size: 200%;
  /* Added background size */
  padding: 10px;
  text-align: center;
  /* Center the text */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  /* Adjust the margin as needed */
}

.add-button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4caf50;
  /* Green background color */
  color: #fff;
  /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #ff0000;
  /* Red background color */
  color: #fff;
  /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #45a049;
  /* Change the background color on hover as needed */
}

.loading-container {
  text-align: center;
}

.loading-text {
  opacity: 0;
  font-size: 24px;
  animation: revealText 1.5s forwards;
}

@keyframes revealText {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.loading-gif {
  max-width: 100%;
  margin-top: 20px;

}

@media screen and (max-height: 26px) {
  table {
    max-height: 100vh;
    overflow-y: auto;
  }
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #555;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.add-form input {
  padding: 5px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  /* Take up remaining space in the row */
}

.add-form select {
  padding: 5px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  flex: 1;
  /* Take up remaining space in the row */
}


.confirm-button {
  padding: 10px 15px;
  font-size: 16px;
  margin: 10px 10px;
  background-color: #3498db;
  /* Blue background color */
  color: #fff;
  /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #2980b9;
  /* Change the background color on hover as needed */
}

.image-class {
  height: 95vh;
  /* 100% of the viewport height */
  overflow: hidden;
}